[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pandas = "*"
matplotlib = "*"
django = "*"
graphene = "*"
graphene-django = "*"

[dev-packages]
mypy = "*"
pylint = "*"

[requires]
python_version = "3.9"
